section.bubble-hero {
    position: relative;
}

section.bubble-hero .large-container {
    border-radius: 2rem
}

section.bubble-hero div.content {
    margin: 0 auto;
    padding: 80px 0 130px
}

section.bubble-hero div.content h1,section.bubble-hero div.content p {
    margin-bottom: 2.4rem;
    z-index: 1;
    position: relative
}

@media (min-width: 1024px) {
    section.bubble-hero div.content {
        padding:140px 0 170px
    }

    section.bubble-hero div.content p {
        max-width: 696px;
        margin: 0 auto 11rem
    }
}

section.bubble-hero a.next {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 2.4rem auto 6rem;
    position: relative;
    line-height: 1;
    z-index: 3
}

@media (min-width: 1024px) {
    section.bubble-hero a.next {
        margin-bottom:11rem
    }
}

section.bubble-hero a.next svg {
    height: 10px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    margin: 0 5px
}

section.bubble-hero a.next:hover {
    text-decoration: underline
}

section.bubble-hero div.bubbles {
    height: 205px;
    position: relative;
    margin: 2.4rem -39px 3.2rem;
    pointer-events: none;
    z-index: 0;
    overflow: hidden
}

@media (min-width: 768px) {
    section.bubble-hero div.bubbles {
        margin:2.4rem -64px 3.2rem
    }
}

@media (min-width: 1024px) {
    section.bubble-hero div.bubbles {
        position:absolute;
        top: -86px;
        left: -32px;
        height: 100%;
        width: calc(100% + 32px * 2);
        margin: 0;
        padding-top: 86px;
        box-sizing: content-box
    }
}

section.bubble-hero div.bubbles span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border: 1.5px solid #f7f7fc;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    opacity: 0;
    overflow: hidden;
    -webkit-animation: entry 1s ease forwards;
    animation: entry 1s ease forwards
}

@media (min-width: 1024px) and (max-width:1539px) {
    section.bubble-hero div.bubbles span {
        left:-150px
    }
}

section.bubble-hero div.bubbles span.end {
    left: auto;
    right: 0
}

@media (min-width: 1024px) and (max-width:1539px) {
    section.bubble-hero div.bubbles span.end {
        right:-150px
    }
}

section.bubble-hero div.bubbles span:nth-child(2) {
    animation-delay: .1s
}

section.bubble-hero div.bubbles span:nth-child(4) {
    animation-delay: .3s
}

section.bubble-hero div.bubbles span:nth-child(5) {
    animation-delay: .5s
}

section.bubble-hero div.bubbles span:nth-child(6) {
    animation-delay: .1s
}

section.bubble-hero div.bubbles span:nth-child(8) {
    animation-delay: .3s
}

section.bubble-hero div.bubbles span:nth-child(9) {
    animation-delay: .9s
}

section.bubble-hero div.bubbles span:nth-child(10) {
    animation-delay: 1s
}

section.bubble-hero div.bubbles span img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@-webkit-keyframes entry {
    0% {
        opacity: 0;
        margin-top: 30px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}

@keyframes entry {
    0% {
        opacity: 0;
        margin-top: 30px
    }

    100% {
        opacity: 1;
        margin-top: 0
    }
}